{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for counterparty in counterparties %}
            <div class="card" style="width: 18rem; margin: 1rem">
                <img class="card-img-top" src="{{ asset('images/example.png') }}" alt="Counterparty image">
                <div class="card-body">
                    <h5 class="card-title">{{ counterparty.name }}</h5>
                    <p class="card-text">{{ counterparty.fullname }}</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
